.bgimg{
    background: url('./../../../assets/images/lgbg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    
}
.log{
    background: transparent !important;
}