.user-list-container {
    position: fixed;
    top: 150px;
    right: 20px;
    max-height: calc(100vh - 40px); /* Adjust max-height as needed */
    overflow-y: auto;
    background-color: #007bff; /* Blue background color */
    border: 2px solid #007bff; /* Blue border */
    border-radius: 5px;
    padding: 10px;
  }
  
  .text-white {
    color: #fff !important; /* White text color */
  }
  
  .border-blue {
    border-color: #007bff !important; /* Blue border color for ListGroup.Item */
  }
  
  