.switch-container {
    position: relative;
  }
  
  .switch-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #6c757d;
  }
  
  .switch-label:first-of-type {
    left: -30px;
  }
  
  .switch-label:last-of-type {
    right: -30px;
  }
  